
html{
    background-color: rgb(89, 20, 158);
    background-image: url('../Git-Work/images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
}

h1{
    color: #fff;
    text-align: left;
   padding-left: 60px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.title{
    background-image: url('../Git-Work/images/favicon-32x32.png');
    background-repeat: no-repeat;
}

.main {
  display: flex;               /* side-by-side layout */
  align-items: center;         /* vertically align image and text */
  justify-content: ;     /* center horizontally in the page */
  gap: 20px;                   /* space between image and text */
  padding-left: 40px;               /* optional padding around the section */
  padding-right: 5px;
  padding-top: 60px;
  padding-bottom: 0;
  flex-wrap: nowrap;             /* wraps on small screens for responsiveness */
}


.decorative {
  width: 400px;                /* adjust size as needed */
  height: 300px;                /* keep aspect ratio */
}

}

.container {
  max-width: 500px;            /* limits text width */
  margin-bottom: 0;
  padding: 0;
}

.container h2 {
    margin-top: -70px;
    position: relative;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container p {
  margin-bottom: 20px;
  color: white;
  font-size: small;
  line-height: 1.6;            /* makes paragraph easier to read */
}

button {
  padding: 10px 30px;
  font-size: 15px;
  background-color:white;
  color:purple;
  border-radius: 20px;
  border: none;
  box-sizing: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer{
    position: absolute;
    padding: 20px 10px;
    bottom: 0;
    right: 0;
    margin: 0;
}

footer .attribution {
    font-size: 20px;
    color:black;
    text-align: right;
    font-style: bold;
    margin-top: 0;
    float: center;
}

.attribution a {
    color:peachpuff;
    text-decoration: underline;
}

.attribution a:hover {
    text-decoration: dotted;
}
