html{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body {
        display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f0f2f5;
    }

    .form-container {
      background: #fff;
      padding: 20px 40px;
      border-radius: 30px;
      box-shadow: 0 8px 20px rgba(151, 76, 76, 0.1);
      width: 100%;
      max-width: 450px;
    }

    .form-container h2 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      color: #680a0ab9;
      padding-bottom: 0;
      border-bottom: 3px solid black;
      display: table;
    }

    .form-group {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
    }

    .form-group label {
      margin-bottom: 10px;
      font-weight: 1000;
      color: #5c097d;
    }

    .form-group input,
    .form-group textarea {
      padding: 10px 5px;
      border: 1px solid salmon;
      border-radius: 8px;
      outline: none;
      font-size: 1.2rem;
      transition: border 0.5s, box-shadow 0.3s;
    }

    .form-group input:focus,
    .form-group textarea:focus {
      border-color: #007BFF;
      box-shadow: 0 0 5px rgba(209, 99, 46, 0.9);
    }

    .form-group textarea {
      resize: vertical;
      min-height: 100px;
    }

    .submit-btn {
      background:peru;
      color:black;
      border: none;
      padding: 12px;
      border-radius: 15px;
      width: 50%;
      font-size: 1rem;
      font-weight: 600;
      cursor: progress;
      transition: background 0.3s;
      display: block;
      margin: 0 auto;
    }

    .submit-btn:hover {
      background: #0056b3;
    }

    /* Responsive tweaks */
    @media (max-width: 450px) {
      .form-container {
        padding: 20px;
      }
    }